* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, 'Roboto', 'Jost', sans-serif;
}

#header {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 10vh;
}

#header-block {
    display: block;

    margin-right: 25px;
}

#header a {
    margin-left: 10px;
}


#main {
    height: 100vh;
}

#logo {
    display: inline-block;
}

#logo img {
    margin-top: -20%;
    margin-bottom: 10%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 84vh;
}

.sign {
    color: #fff;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    font-size: 13px;
    border-radius: 2px;
    background: #4387fd;
    cursor: pointer;
}

a {
    color: rgba(0, 0, 0, 0.87);
}

.header-text {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 13px;
}

#apps-header {

    opacity: 0.55;
}

.search {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    justify-content: center;
    width: 482px;
    height: 50px;
    background: #fff;
    border: 1px solid #dfe1e5;
    height: 44px;
    box-shadow: none;
    margin-bottom: 20px;
    color: #222;
    border-radius: 24px;

}

.search:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.search-text {
    border: none;
    width: 85%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    display: flex;
    flex: 100%;
    outline: none;
    font-size: 16px;
    margin: 0 10px 0 10px;
}

.search-icon {
    padding-top: 5px;
    width: 22px;
    opacity: .47;
}

.mic-icon {
    width: 16px;
    padding-top: 5px;
}

.ser-but {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.ser-but:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

footer {
    background-color: #f2f2f2;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left {
    float: left;

}

#right {
    margin-right: 30px;
}

.footer-text {
    display: inline-block;
    color: #5f6368;
    text-decoration: none;
    padding-left: 27px;
    cursor: pointer;
    font-size: 14px;
}

.footer-text:hover {
    color: #5f6368;
    text-decoration: underline;
}

.header-text:hover {
    color: #000;
    text-decoration: underline;
}

#app-logo {
    margin: -7px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}

#apps-header:hover {
    opacity: 1;
}